/* ********************************* CSS RESET ****************************** */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ********************************* CSS RESET ****************************** */

/* ********************************* FONTS ****************************** */
@font-face {
  font-family: "space mono regular";
  src: url(./assets/fonts/SpaceMono-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "space mono bold";
  src: url(./assets/fonts/SpaceMono-Bold.ttf) format("truetype");
  font-weight: 700;
}
/* ********************************* FONTS ****************************** */

html {
  height: 100%;
  font-family: "space mono regular";
  font-size: 18px;
}

body {
  /* border: 3px solid red; */
  --primary: #0079ff;
  --primary-hover: #60abff;
  --text-low-contrast: #697c9a;
  --text-mid-contrast: #4b6a9b;
  --text-high-contrast: #2b3442;
  --bg: #f6f8ff;
  --secondary-bg: #fefefe;
  --error: #f74646;
  background-color: var(--bg);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.dark {
  --text-low-contrast: #ffffff;
  --text-mid-contrast: #ffffff;
  --text-high-contrast: #ffffff;
  --bg: #141d2f;
  --secondary-bg: #1e2a47;
}

.maxwidth-wrapper {
  /* border: 3px solid chartreuse; */
  width: 50%;
  min-width: 730px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

body:not(.dark) .shadow {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

/* *************** NAVIGATION DESKTOP *********************** */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-family: "space mono bold";
  font-size: 26px;
  color: var(--text-high-contrast);
}

nav .theme {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: transparent;
  border: none;
}

nav .theme .theme-name {
  font-family: "space mono bold";
  font-size: 13px;
  color: var(--text-mid-contrast);
}

/* This is for the sun icon svg */
nav .theme .icon svg g {
  fill: var(--text-mid-contrast);
}

/* This is for the moon icon svg */
nav .theme .icon svg path {
  fill: var(--text-mid-contrast);
}

nav .theme:hover {
  cursor: pointer;
}

/* Light mode hover for theme name */
nav .theme:hover .theme-name.sun {
  color: #90a4d4;
}

/* Light mode hover for sun icon*/
nav .theme:hover .icon.sun svg path {
  fill: #90a4d4;
}

/* Dark mode hover for theme name*/
nav .theme:hover .theme-name.moon {
  color: var(--text-high-contrast);
}

/* Dark mode hover for moon icon */
nav .theme:hover .icon.moon svg path {
  fill: var(--text-high-contrast);
}

body:not(.dark) .sun {
  display: none;
}

body.dark .moon {
  display: none;
}

/* *************** NAVIGATION DESKTOP *********************** */
/* *************** FORM DESKTOP *********************** */

form {
  /* border: 2px solid springgreen; */
  background-color: var(--secondary-bg);
  padding: 10px;
  padding-left: 32px;
  height: 69px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.no-results {
  display: none;
  font-family: "space mono bold";
  font-size: 15px;
  color: var(--error);
  line-height: 0;
  transform: translateY(1px);
}

.show {
  display: revert;
}

form button {
  width: 106px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
  font-family: "space mono bold";
}

form button:hover {
  background-color: var(--primary-hover);
}

label {
  flex: 1;
  /* border: 2px solid darkblue; */
}

input[type="text"] {
  /* border: 1px solid red; */
  border: none;
  background-color: var(--secondary-bg);
  width: 100%;
}

body.dark input[type="text"] {
  color: var(--text-high-contrast);
}

form:hover {
  cursor: pointer;
}
input[type="text"]::placeholder {
  font-family: "space mono regular";
  font-size: 18px;
  line-height: 25px;
  height: 25px;
  color: var(--text-mid-contrast);
}

input[type="text"]:focus {
  outline: none;
}

/* *************** FORM DESKTOP *********************** */
/* *************** SEARCH RESULTS DESKTOP *********************** */

.search-results {
  /* border: 3px solid #0079ff; */
  border-radius: 15px;
  background-color: var(--secondary-bg);
  width: 100%;
  padding: 48px;
}

.avatar {
  /* border: 2px solid springgreen; */
  width: 117px;
  height: 117px;
  float: left;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.header {
  /* border: 2px solid #0079ff; */
  position: relative;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-family: "space mono bold";
  font-size: 26px;
  color: var(--text-high-contrast);
}

.username {
  font-family: "space mono regular";
  font-size: 16px;
  color: var(--primary);
}

.joined {
  font-family: "space mono regular";
  font-size: 15px;
  color: var(--text-low-contrast);
  position: absolute;
  top: 10px;
  right: 0;
}

.bio {
  /* border: 2px solid purple; */
  font-family: "space mono regular";
  font-size: 15px;
  line-height: 25px;
  color: var(--text-mid-contrast);
  margin-left: 150px;
  margin-top: 10px;
}

.stats {
  height: 85px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
  background-color: var(--bg);
  padding: 15px 32px;
  display: flex;
  gap: 100px;
}

.stat-name {
  font-family: "space mono regular";
  font-size: 13px;
  color: var(--text-mid-contrast);
}

.stat-number {
  font-family: "space mono bold";
  font-size: 22px;
  color: var(--text-high-contrast);
}

.links {
  /* border: 2px solid chartreuse; */
  margin-top: 37px;
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
}

.link {
  display: flex;
  gap: 16px;
  font-family: "space mono regular";
  font-size: 15px;
  color: var(--text-mid-contrast);
}

.link:hover p {
  text-decoration: underline;
  cursor: pointer;
}

/* Added margin to align the location name with the other links since the icon name is the smallest icon */
.location-icon {
  margin-right: 6px;
}

.icon svg path {
  fill: var(--text-mid-contrast);
}
/* *************** SEARCH RESULTS DESKTOP *********************** */

/* ******************************* TABLET ***************************** */
@media screen and (max-width: 1100px) {
  body {
    display: revert;
    flex-direction: revert;
    justify-content: revert;
    align-items: revert;
    padding-top: 140px;
  }

  .maxwidth-wrapper {
    width: 74%;
    min-width: 573px;
  }
  /* *************** SEARCH RESULTS TABLET *********************** */
  .search-results {
    padding: 40px;
  }

  .joined {
    position: static;
    margin-bottom: 30px;
  }

  .bio {
    margin-left: 0;
  }

  .stats {
    margin-left: 0;
  }

  .links {
    margin-left: 0;
  }
}

/* ******************************* MOBILE ***************************** */
@media screen and (max-width: 600px) {
  body {
    padding-top: 31px;
  }

  .maxwidth-wrapper {
    width: 87%;
    min-width: 0px;
  }

  form {
    padding: 7px;
    padding-left: 16px;
    height: 60px;
    gap: 8px;
  }

  form img {
    width: 20px;
  }

  form button {
    width: 84px;
    height: 46px;
    font-size: 14px;
  }

  input[type="text"]::placeholder {
    font-size: 13px;
  }

  .no-results {
    font-size: 13px;
    transform: translateY(2px);
  }

  .search-results {
    padding: 32px 24px;
  }

  .avatar {
    width: 70px;
    height: 70px;
  }

  .avatar img {
    width: 100%;
    border-radius: 50%;
  }

  .header {
    margin-left: 90px;
  }

  .name {
    font-size: 16px;
  }

  .username {
    font-size: 13px;
  }

  .joined {
    font-size: 13px;
  }

  .bio {
    font-size: 13px;
    margin-top: 0;
  }

  .stats {
    margin-top: 10px;
    background-color: var(--bg);
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    text-align: center;
  }

  .stat-name {
    font-size: 11px;
  }

  .stat-number {
    font-size: 16px;
  }

  .links {
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }

  .link {
    font-size: 13px;
  }
}
